{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
  <div class="span4">
  
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul>
      {#% if app.user.hasActiveBid %#}
      <li><a href="{{ path('agent_edit_select') }}">Ändra bud</a></li>
      {#% else %#}
      <li><a href="{{ path('agent_new_select') }}">Lägg ett bud</a></li>
      {#% endif %#}
      <li><a href="{{ path('fos_user_profile_show') }}">Mina uppgifter</a></li>
    </ul>
    {% else %}
      {% block menucol %}{% endblock %}
    {% endif %}
  </div>
  <div class="span12">
    {% block colbody %}{% endblock %}
  </div>
</div>
{% endblock %}