{% extends "::with_left_menu.html.twig" %}

{% block title -%}
  Lägg ett bud
{%- endblock %}

{% block colbody %}

<h1>Ändra bud</h1>
<p>Auktionen slutar {{ agent.auction.stopTime|date("Y-m-d H:i:s") }}</p>



<form action="{{ path('agent_edit', {'id': agent.id }) }}" {{ form_enctype(form) }} method="POST">

<fieldset>


    {{ form_widget(form) }}
    
    <div class="actions">

        <input type="submit" class="btn primary" value="Ändra bud" />
    </div>
</form>




{% endblock %}