{% extends "::base.html.twig" %}

{% block body %}
<h1>Aktuella bud</h1>

<p>Auktionen slutar {{ auction.stopTime|date("Y-m-d H:i:s") }}</p>

<table>
<thead>
<tr>
<th style="width:33%">Plats</th>
<th style="width:33%">Bud</th>
<th style="width:33%">Får SMS:et tidigast efter…</th>
</tr>
</thead>
<tbody>
{% for key, bid in auction.winningBids %}
<tr>
<td>{% if bid.agent is not null%}<strong>{% endif %}{{ key + 1 }}{% if bid.agent is not null%}</strong>{% endif %}</td>
<td>{% if bid.agent is not null%}<strong>{% endif %}{{ bid.amount }} kr{% if bid.agent is not null%}</strong>{% endif %}</td>
<td>{% if key == 0 %}
<strong>Direkt!</strong>
{% else %}
{{ key * 2 }} sekunder
{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}