{% extends "::base.html.twig" %}

{% block herounit %}
<div class="hero-unit">
  <h1>Inloggad</h1>
  
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% if not current_auction %}
      <p>Det finns ingen auktion att bjuda på just nu…</p>
      <p>Kolla tillbaka snart så du kan få tillgång till nya markadstips till marknadspris!</p>
    {% elseif app.user.isWinningAuction(current_auction) %}  
      <p>Det går bra för dig!</p>
      <p>Din budagent har hållt ställningarna sedan du senast var här, och du är fortfarande med i auktionen!</p>
      <p><a class="btn primary large" href="{{ path('agent_edit') }}">Ändra bud &raquo;</a></p>
    {% elseif not app.user.isInAuction(current_auction) %}
      <p>Du är inte med i månadens auktion.</p>
      <p>Gå med i den här månadens auktion för att få våra marknadstips!</p>
      <p><a class="btn primary large" href="{{ path('agent_new', {'id': current_auction.id}) }}">Lägg bud &raquo;</a></p>
    {% else %}
      <p>Aj aj aj!</a>
      <p>Du har blivit överbjuden. Din budagent har tappert försökt att försvara din plats i auktionen, men blev till slut överbjuden.
      <p>Hoppet är inte helt ute, men om du vill vara säker på att få nästa månads marknadstips behöver du höja ditt maxbud eller sänka din minsta accepterbara position</p>
      <p><a class="btn primary large" href="{{ path('agent_edit', {'id': app.user.agentForAuction(current_auction).id}) }}">Uppdatera budagenten &raquo;</a></p>
    {% endif %}
  {% endif %}
    
</div>
{% endblock %}

